* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img {
    width: 200px;
}

.image {
    margin: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin: 8px;
}

.box {
    display: flex;
    margin: 20px 10px 10px;
    justify-content: space-around;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.form {
    margin: 30px;
}

.inputgroup {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input {
    width: 60%;
    padding: 5px;
    margin-left: 8px;
}

.continer {
    border: 1px solid black;
    padding: 10px 30px;
    width: 70%; 
     ;

}
.button{
    text-align: center;
    margin: 10px;
}
button{
    padding: 5px 10px;
    margin: 2px;
}